* {
  font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  line-height: normal !important;
}

body {
  background-color: white;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    background-color: $chat-color-bg;
    color: white;
    padding: 0 12px 0 12px;
    .logo {
      float: right;
      font-weight: bold;
      font-size: 20px;
      padding: 5px;
    }
    .users_button, .menu_button {
      cursor: pointer;
    }
    .users_button {
      float: left;
    }
    .menu_button {
      float: right;
    }
  }
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    background-color: $chat-color-bg;
    color: white;
    padding: 5px 10px 5px 10px;
    vertical-align: top;
    .messageBox {
      margin-top: 5px;
      margin-bottom: 5px;
      input {
        width: calc(100% - 100px);
      }
      span {
        float: right;
      }
    }
    .loginBox {
      margin-top: 5px;
      margin-bottom: 5px;
      input {
        @media screen and (max-width: 992px) {
          width: calc(100% - 70px);
        }
      }
      #chatLoginButton {
        @media screen and (max-width: 992px) {
          float: right;
        }
      }
    }
  }
  .userList {
    position: absolute;
    right: 0;
    top: $header-height;
    bottom: #{$footer-height + 10px};
    width: $userList-width;
    border-left: 1px solid $chat-color-bg;
    background-color: white;
    padding: 5px;
    .userListItem {
      padding-top: 4px;
    }
  }
  .chat {
    position: absolute;
    top: $header-height;
    bottom: #{$footer-height + 10px};
    left: 0;
    @media screen and (min-width: 992px) {
      right: #{$userList-width + 10px};
    }
    @media screen and (max-width: 992px) {
      right: 0;
    }
    padding: 4px 4px 4px 10px;
    background-color: white;
    font-size: 14px;
    line-height: 1.5em;
    overflow: auto;
    .time {
      color: #8B897E;
      float: right;
      padding-right: 16px;
      font-size: 70%;
    }
    .user {
      color: $chat-color-user;
      font-weight: bold;
      padding-right: .5em;
    }
    .chat_event .text {
      font-style: italic;
    }
  }
}

.lg_hide {
  @media screen and (min-width: 992px) {
    display: none;
  }
}

.sm_hide {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.hide {
  display: none;
}

button {
  border: 1px solid #F0F0F0;
  border-radius: 5px;
  color: black;
  background-color: white;
  padding: 2px 8px 1px 8px;
}

button:hover {
  background-color: #D5D5D5;
}

button:active {
  background-color: #C0C0C0;
}

.hasIcon {
  padding-left: 17px;
}

.user {
  cursor: pointer;
}